<div class="about-main">
  <h2>DeFan Appとは</h2>
  <p>
    横浜DeNAベイスターズファン専用のSNSです。【非公式】
    <br>
    このアプリでベイスターズファンの友達の輪を広げよう！
    <br>
    I   LOVE   YOKOHAMA!!!
  </p>
    <img class="about-img" src="/top.png">

</div>